<main>
  <div class="container">
    <h1><%= @tournament.tytle %></h1>
<h2 class="mb-5">(<%= @tournament.short_tytle %>)</h2>

<%= form_with model: @team, url: admin_teams_path do |f| %>
<%= f.hidden_field :tournament_id, :value => params[:id] %>

<div class="row">
  <div class="col-md-4">
    <h2 class="mb-3">出場チーム登録</h2>

<h4>高校名</h4>
<div class="mb-3"><%= f.text_field :team_name %></div>

<h4>都道府県名</h4>
<div class="mb-3"><%= f.text_field :prefecture %></div>

<h4>出場回数</h4>
<div class="mb-3"><%= f.text_field :number %></div>

<h4>最高成績</h4>
<div class="mb-5"><%= f.text_field :grade %></div>

<%= f.submit '登録する', class: "btn btn-success" %>

<% end %>
  </div>
  
<div class="col-md-8">
  <h2 class="mb-3">出場チーム一覧</h2>
<table border="1" style="border-collapse: collapse">
  <tr>
    <th>id</th>
    <th>高校名</th>
    <th>都道府県名</th>
    <th>出場回数</th>
    <th>最高成績</th>
    <th></th>
  </tr>
 <% @teams.each do |teams| %>
  <tr>
    <td><%= teams.id %></td>
    <td><%= teams.team_name %></td>
    <td><%= teams.prefecture %></td>
    <td><%= teams.number %></td>
    <td><%= teams.grade %></td>
    <td><%= link_to "編集する", edit_admin_team_path(teams.id), class: "btn btn-success" %></td>
  </tr>
 <% end %>
</table>
</div>

</div>

  </div>
  
</main>
