<main>
  <div class="container">
    <h1 class="mb-5">試合一覧画面(user)</h1>
   <div class="cpl-md-8">
      <h2 class="mb-3">試合一覧</h2>
      <table border="1" style="border-collapse: collapse">
        <tr>
          <th>日付</th>
          <th>試合順</th>
          <th>ラウンド</th>
          <th>対戦チーム</th>
          <th>スコア</th>
          <th></th>
        </tr>
       <% @games.each do |game| %>
        <tr>
          <td><%= l game.date %></td>
          <td><%= game.order %></td>
          <td><%= game.round %></td>
          <td>
            <%= link_to game_path(game.id) do %>
            <%= game.game_teams[0].first_base ? game.teams[0].team_name : game.teams[1].team_name %>
            -
            <%= game.game_teams[1].first_base ? game.teams[0].team_name : game.teams[1].team_name %>
            <% end %>
          </td>
          <td><%= game.score %></td>
        </tr>
       <% end %>
      </table>
    </div>
  </div>
</main>

