<main>
  <div class="container">
    <div class="row">
      <div class="col-md-5 mt-5">
        <%= image_tag @user.get_icon(200,200), class: "rounded-circle mb-3" %></br>
        <h6 class="offset-md-2"><%= @user.name %><h6>
      </div>
      <div class="col-md-7 mt-5">
        <% if @user == current_user %>
         <p class="mb-5">メールアドレス : <%= @user.email %></p>
        <% end %>
        <p>自己紹介</p>
        <% if @user.introduction.present? %>
         <%=safe_join(@user.introduction.split("\n"),tag(:br))%>
        <% end %>
        <div class="mt-5">
          <% if @user == current_user %>
           <%= link_to "編集する", edit_user_path(@user), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
