<!DOCTYPE html>
<html>
  <head>
    <title>Sumiichi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container">
          <div class="navbar-nav ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <% if user_signed_in? %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item nav-link mr-2" %>
                  <%= link_to "マイページ", user_path(current_user), class: "nav-item nav-link mr-2" %>
                  <%= link_to "大会一覧", tournaments_path, class: "nav-item nav-link mr-2" %>
                <% elsif admin_signed_in? %>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-item nav-link mr-2" %>
                  <%= link_to "大会登録", new_admin_tournament_path, class: "nav-item nav-link mr-2" %>
                  <%= link_to "大会一覧", admin_tournaments_path, class: "nav-item nav-link mr-2" %>
                  <%= link_to "ユーザー一覧", admin_users_path, class: "nav-item nav-link mr-2" %>
                <% else %>
                  <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link mr-2t" %>
                  <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link mr-2t" %>
                  <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, method: :post, class: "nav-item nav-link mr-2" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
